<template id="add-post">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-5">
                <form class="form-signin mt-4" action="#" @submit.prevent="createUser">
                    <h5 class="display-4 text-center">Create new user</h5>
                    <div class="alert alert-danger mt-4" role="alert" v-if="errors.length">
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                    <div class="form-group mt-4">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" v-model="email">
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="sr-only">Name</label>
                        <input type="text" id="inputName" class="form-control" placeholder="Name" required="" autofocus="" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" v-model="password">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";

    export default {
        data () {
            return {
                errors: [],
                name: '',
                email: '',
                password: ''
            }
        },
        methods: {
            createUser: function() {
                this.$store.dispatch('createUser', {
                    email: this.email,
                    name: this.name,
                    password: this.password
                })
                    .then(response => {
                        this.$router.push({ name: 'posts'})
                    })
                    .catch(err => {
                        $.each(err.data.errors, function(key, value) {
                            Vue.notify({
                                group: 'foo',
                                type: 'error',
                                title: key,
                                text: value[0]
                            });
                        });
                    })
            }
        }
    }

</script>

<style scoped>

</style>
