<template>

</template>

<script>
    import Vue from "vue";

    export default {
        created: function () {
            this.$store.dispatch('deleteUser')
                .then(response => {
                    this.$router.push({name: 'logout'})
                })
                .catch(err => {
                    $.each(err.data, function (key, value) {
                        Vue.notify({
                            group: 'foo',
                            type: 'error',
                            title: key,
                            text: value[0]
                        });
                    });
                })
        }
    }
</script>

<style scoped>

</style>
