<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-5">
                <form class="form-signin mt-4" action="#" @submit.prevent="updateUser">
                    <h5 class="display-4 text-center">Update new user</h5>
                    <div class="alert alert-danger mt-4" role="alert" v-if="errors.length">
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                    <div class="form-group mt-4">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                               autofocus="" v-model="email">
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="sr-only">Name</label>
                        <input type="text" id="inputName" class="form-control" placeholder="Name" required=""
                               autofocus="" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                               required="" v-model="password">
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>
                    <router-link class="btn btn-lg btn-warning btn-block" v-bind:to="'/'">Cancel</router-link>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";

    export default {
        data() {
            return {
                errors: '',
                id: '',
                name: '',
                email: '',
                password: ''
            }
        },
        created() {
            this.$store.dispatch('getUser', {
                id: this.$route.params.id,
            })
                .then(response => {
                    this.name = response.data.name
                    this.email = response.data.email
                    this.id = response.data.id
                })
                .catch(err => {
                    this.$router.push({name: 'posts'})
                })
        },
        methods: {
            updateUser() {
                this.$store.dispatch('updateUser', {
                    id: this.id,
                    name: this.name,
                    email: this.email,
                    password: this.password
                })
                    .then(response => {
                        this.$router.push({name: 'posts'})
                    })
                    .catch(err => {
                        $.each(err.data, function (key, value) {
                            Vue.notify({
                                group: 'foo',
                                type: 'error',
                                title: key,
                                text: value[0]
                            });
                        });
                    })
            }
        }

    }
</script>

<style scoped>

</style>
