<template>
    <div id="app">
        <Navbar></Navbar>
        <router-view></router-view>
        <notifications group="foo"/>
    </div>
</template>

<script>
    import Navbar from "../components/Navbar";

    export default {
        name: "Master",
        components: {Navbar}
    }
</script>

<style scoped>

</style>
