<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4">
                <form class="form-signin mt-4" action="#" @submit.prevent="login">
                    <h5 class="display-4 text-center">Sing in to Posts Service</h5>
                    <div class="form-group mt-4">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                               autofocus="" v-model="email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                               required="" v-model="password">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        data() {
            return {
                email: '',
                password: '',
            }
        },
        methods: {
            login() {
                this.$store.dispatch('retrieveToken', {
                    email: this.email,
                    password: this.password
                })
                    .then(response => {
                        this.$router.push({name: 'posts'})
                    })
            }
        }
    }
</script>

<style scoped>

</style>
