<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4">
                <form class="form-signin mt-4" action="#" @submit.prevent="register">
                    <h5 class="display-4 text-center">Register to Posts Service</h5>
                    <div class="alert alert-danger mt-4" role="alert" v-if="errors.length">
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                    <div class="form-group mt-4">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                               autofocus="" v-model="email">
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="sr-only">Name</label>
                        <input type="text" id="inputName" class="form-control" placeholder="Name" required=""
                               autofocus="" v-model="name">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                               required="" v-model="password">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordConfirm" class="sr-only">Confirm Password</label>
                        <input type="password" id="inputPasswordConfirm" class="form-control"
                               placeholder="Confirm Password" required="" v-model="password_confirmation">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'

    export default {
        data() {
            return {
                errors: [],
                name: '',
                email: '',
                password: '',
                password_confirmation: ''
            }
        },
        methods: {
            register() {
                this.$store.dispatch('register', {
                    email: this.email,
                    name: this.name,
                    password: this.password,
                    password_confirmation: this.password_confirmation
                })
                    .then(response => {
                        this.$router.push({name: 'login'})
                    })
                    .catch(err => {
                        $.each(err.data.errors, function (key, value) {
                            Vue.notify({
                                group: 'foo',
                                type: 'error',
                                title: key,
                                text: value[0]
                            });
                        });
                    })
            }
        }
    }
</script>

<style scoped>

</style>
