<template>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <router-link class="navbar-brand" aria-hidden="true"
                     v-bind:to="{name: 'posts'}">Posts Service
        </router-link>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb"
                aria-expanded="true">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navb" class="navbar-collapse collapse hide">
            <ul v-if="!loggedIn" class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a>
                        <router-link :to="{ name: 'login' }" class="nav-link">Login</router-link>
                    </a>
                </li>
                <li class="nav-item">
                    <a>
                        <router-link :to="{ name: 'register' }" class="nav-link">Register</router-link>
                    </a>
                </li>
            </ul>
            <ul v-if="loggedIn" class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a>
                        <router-link :to="{ name: 'logout' }" class="nav-link">Logout</router-link>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <router-link class="dropdown-item" aria-hidden="true"
                                     v-bind:to="{name: 'userAdd'}"> Create user
                        </router-link>
                        <router-link class="dropdown-item" aria-hidden="true"
                                     v-bind:to="{name: 'userEdit'}">
                            Edit user
                        </router-link>
                        <router-link class="dropdown-item" aria-hidden="true"
                                     v-bind:to="{name: 'userDelete'}">Delete user
                        </router-link>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar",
        computed: {
            loggedIn() {
                return this.$store.getters.loggedIn
            }
        }
    }
</script>

<style scoped>

</style>
