<template>
    <div class="container" v-if="loggedIn">
        <div class="row justify-content-md-center">
            <div class="col-10">
                <div class="card mb-4 mt-4">
                    <div class="card-body">
                        <router-link class="btn btn-xs btn-primary" v-bind:to="{name: 'postAdd'}">
                            Create new post
                        </router-link>
                    </div>
                </div>
                <div class="pull-left">

                    <br>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Post Title</th>
                        <th>Post Body</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(post) in posts">
                        <td>{{ post.title }}</td>
                        <td>{{ post.content | truncate(30) }}</td>
                        <td>{{ format_date(post.created_at) }}</td>
                        <td>{{ format_date(post.updated_at) }}</td>
                        <td>
                            <router-link class="btn btn-info btn-xs"
                                         v-bind:to="{name: 'postView', params: {id: post.id}}"><i class="fa fa-eye"
                                                                                                  aria-hidden="true"></i>
                                Show
                            </router-link>
                            <router-link class="btn btn-warning btn-xs"
                                         v-bind:to="{name: 'postEdit', params: {id: post.id}}"><i class="fa fa-pencil"
                                                                                                  aria-hidden="true"></i>
                                Edit
                            </router-link>
                            <router-link class="btn btn-danger btn-xs"
                                         v-bind:to="{name: 'postDelete', params: {id: post.id}}"><i
                                class="fa fa-trash-o" aria-hidden="true"></i> Delete
                            </router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div v-else-if="!loggedIn" class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div>
                <h1 class="display-3">Please Login in to account</h1>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        data() {
            return {
                posts: ''
            }
        },
        created() {
            this.$store.dispatch('getPosts')
                .then(response => {
                    this.posts = response.data;
                })
                .catch(err => {
                    this.$router.push({name: 'posts'})
                })
        },
        methods: {
            format_date(value) {
                if (value) {
                    return moment(String(value)).format('DD-MM-YYYY')
                }
            },
        },
        filters: {
            truncate: function (text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            }
        },
        computed: {
            loggedIn() {
                return this.$store.getters.loggedIn
            }
        }
    }
</script>
