<template id="add-post">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div>
                    <h5 class="display-4 text-center">Create new post</h5>
                    <form v-on:submit.prevent="createPost">
                        <div class="form-group">
                            <label for="add-title">Title</label>
                            <input id="add-title" v-model="title" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="add-body">Body</label>
                            <textarea id="add-body" class="form-control" rows="10" v-model="content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-xs btn-primary">Create Post</button>
                        <router-link class="btn btn-xs btn-warning" v-bind:to="'/'">Cancel</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from "vue";

    export default {
        data() {
            return {title: '', content: ''}
        },
        methods: {
            createPost: function () {
                this.$store.dispatch('createPost', {
                    title: this.title,
                    content: this.content,
                })
                    .then(response => {
                        this.$router.push({name: 'posts'})
                    })
                    .catch(err => {
                        $.each(err.data.errors, function (key, value) {
                            Vue.notify({
                                group: 'foo',
                                type: 'error',
                                title: key,
                                text: value[0]
                            });
                        });
                    })
            }
        }
    }
</script>

<style scoped>

</style>
