<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8">
                <div>
                    <div class="card mt-4">
                        <div class="card-header">
                            Post
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ title }}</h5>
                            <p class="card-text">{{ content }}</p>
                            <router-link v-bind:to="{name: 'posts'}" class="btn btn-primary">Back to post list
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                title: '',
                content: ''
            }
        },
        created() {
            this.$store.dispatch('getPost', {
                id: this.$route.params.id,
            })
                .then(response => {
                    this.title = response.data.title
                    this.content = response.data.content
                })
                .catch(err => {
                    this.$router.push({name: 'posts'})
                })
        }
    }
</script>

<style scoped>

</style>
